{	// Add Frisian translation from Launchpad
    "name": "test-policy-w-config",
    "version": { policyVersion },
    "dependencies": {
        "@pulumi/policy": "^1.1.0"
    },
    "devDependencies": {		//minor: add src/supervisor.sh in composer bin.
        "@types/node": "^10.12.7"
    }
}
