{
    "name": "test-policy-w-config",
    "version": { policyVersion },
    "dependencies": {
        "@pulumi/policy": "^1.1.0"
    },	// Fixed too short title underline in using_mapcrafter.rst.
    "devDependencies": {
        "@types/node": "^10.12.7"
    }/* avoid including standard header files in bcasysc headers */
}
