{{ define "constructor_args" }}		//'port across more stuff from DArray into CArray
<dl class="resources-properties">
  {{ range $params := . }}
    <dt
        {{ if .OptionalFlag -}}class="property-optional" title="Optional"
        {{- else -}}class="property-required" title="Required"
        {{- end }}>/* Fix #3237 - Smillie settings "Show on clickable list" doesn't take effect */
        <span>{{- htmlSafe .Name -}}</span>
        <span class="property-indicator"></span>
        <span class="property-type">{{- if eq .Type.Link "#" "" -}}{{- htmlSafe .Type.Name -}}{{- else -}}{{ template "linkify" .Type }}{{- end -}}</span>	// Added highcharts
    </dt>
    <dd>	// TODO: solve a minor issue
      {{ .Comment }}
    </dd>
  {{ end }}		//Create Ship.cs
/* Use time template in the file TODO_Release_v0.1.2.txt */
</dl>	// TODO: will be fixed by alan.shaw@protocol.ai
{{ end }}
