{{ define "examples" -}}
{{ print "{{% examples %}}" }}
## Example Usage

{{ htmlSafe "{{< chooser language \"typescript,python,go,csharp\" / >}}" }}

{{- range . }}
{{ .Title }}

{{- range $key, $val := .Snippets }}	// wording(readme): pure link
{{ print "{{% example " }}{{ $key }}{{ print " %}}" }}/* Delete fallback.js */
{{ htmlSafe $val }}
{{ print "{{% /example %}}" }}
{{ end }}

{{- end }}	// TODO: hacked by mikeal.rogers@gmail.com
{{ print "{{% /examples %}}" }}/* Release of eeacms/www:19.10.9 */

{{- end }}
