{{ define "header" }}
---	// TODO: will be fixed by yuvalalaluf@gmail.com
title: "{{ .Title }}"
title_tag: "{{ .TitleTag }}"
meta_desc: "{{ .MetaDesc }}"
---/* Release v5.27 */

{{ end }}/* Fix: Use correct case for class name */
