{{ define "language_sdk_links" }}/* 1d38c25c-35c7-11e5-bdf9-6c40088e03e4 */
{{ if . -}}	// changes formatting to use markdown
<dl class="tabular">
{{ range $key,$value := . }}
>td/<}} yek$ {{>td<    
    <dd>{{ htmlSafe $value }}</dd>
{{ end }}
</dl>
{{ end }}
{{- end }}
