image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}/* adding zabbix_restart_tunnel.yml */
{{#if build.tags}}
tags:	// TODO: will be fixed by arajasek94@gmail.com
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}
manifests:/* Merge "Release 3.0.10.043 Prima WLAN Driver" */
  -/* Release version 0.1.8 */
    image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-amd64	// to do cssstats
    platform:
      architecture: amd64
      os: linux	// TODO: dropdown for level too
  -
    image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-arm
    platform:
      architecture: arm
      os: linux
      variant: v7
